

@font-face{
  font-family: 'Gotham-Bold'; 
  src: url('/static/fonts/Gotham-Bold.ttf') format('truetype');
}

@font-face{
  font-family: 'Gotham-Book';
  src: url('/static/fonts/Gotham-Book.ttf') format('truetype');
}


@font-face{
  font-family: 'BMJUA_otf';
  src: url('/static/fonts/BMJUA_otf.otf') format('truetype');
}

*{
  font-family: 'BMJUA_otf';

}



nav{
  border: 0px;
  box-shadow: 0 0 0 0;
}

nav ul a,
nav .brand-logo {
  color: #444;
}


p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.modal-content h4 {
  margin-bottom: 50px;
}


/* Slider Indicators */
.indicators {
    top:30%;
    width:99%;
    z-index:2;
    padding:10px;
    margin:0 auto;
}

.indicators > .indicator-item:after {
    color:#fff;
    font-size:5em;
    display:inline;
}

.indicators .indicator-item:first-of-type {
    float:left;
}
.indicators .indicator-item:first-of-type:after {
    content:"‹";
}

.indicators .indicator-item:last-of-type {
    float:right;
}
.indicators .indicator-item:last-of-type:after {
    content:"›";
}

.indicators .indicator-item, .indicators .indicator-item.active {
    background-color:transparent !important;
    border-radius:0;
}

/* profile card */
.card {
  overflow: visible;
}
.profile-pic {
  margin-top: -6em;
  z-index: 1;
  position: relative;
}

.profile-pic > img {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.controls {
  cursor: pointer;
}

.row-menu{
  position:relative;
}

.menu {
  display:none;
  right: 1em;
  top: 1.8em;
  position: absolute;
  background-color: #fff;
  padding-left: 0.8em;
  padding-right: 0.8em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.menu-list > li {
  margin-bottom: 1em;
  cursor: pointer;
}

.menu-list > li:last-child{
   margin-bottom: -1em;
}


/* design */

.btn {

  border-radius: 20px;
}

/* map placeholder*/

#index-banner ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b39ddb;
}
#index-banner ::-moz-placeholder { /* Firefox 19+ */
  color: #b39ddb;
}
#index-banner :-ms-input-placeholder { /* IE 10+ */
  color: #b39ddb;
}
#index-banner :-moz-placeholder { /* Firefox 18- */
  color: #b39ddb;
}




  /* label color */
   .input-field label {
     color: #9575cd;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #9575cd;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #9575cd;
     box-shadow: 0 1px 0 0 #000;
   }

   .input-field input[type=password]:focus + label {
     color: #9575cd;
   }
   /* label underline focus color */
   .input-field input[type=password]:focus {
     border-bottom: 1px solid #9575cd;
     box-shadow: 0 1px 0 0 #000;
   }

    #textarea:focus + label {
     color: #9575cd;
   }
   /* label underline focus color */
   #textarea:focus {
     border-bottom: 1px solid #9575cd;
     box-shadow: 0 1px 0 0 #000;
   }

     


/* carousel에 gradient */
.postergrad {
  display: block;
  position: relative;
}
.postergrad::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(left, rgba(69, 104, 220, 0.65) 0%, rgba(176, 106, 179, 0.65) 100%);
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(69, 104, 220, 0.65) 0%, rgba(176, 106, 179, 0.65) 100%);
  /* Chrome10+,Safari5.1+ */

  /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */
}
.poster {
  display: block;
}
